.testimonials {
    padding: 2rem 0;
}

.testimonial-box {
    display: flex;
    white-space: nowrap;
    overflow: auto;
    padding-bottom: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.testimonial-box::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: black;
    margin: 20px auto;
    border-radius: 20px;
}

.testimonial-box::-webkit-scrollbar-track {
    margin: 20px auto;
}

.testimonial-box::-webkit-scrollbar-thumb {
    background-color: #4D4D4D;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    cursor: grab;
    margin: 20px auto;
}

.testimonial {
    background-image: linear-gradient(#130428 7%, #251043 34%, #38126d 57%, #261045, 85%, #190634 100%);
    padding: 1rem 2rem;
    min-width: 300px;
    margin: 60px 30px 0;
    position: relative;
    box-shadow: 0 0 10px .1px black;
    border-radius: 10px;
}

.testimonial:last-child {
    margin-right: 10px;
}

.testimonial-icon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.testimonial-icon h2 {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #7127BA;
    font-size: 1rem;
    font-weight: 900;
}

.testimonial-icon img {
    width: 90px;
    position: absolute;
    top: -50px;
    background-color: #2C1250;
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial-icon img:hover {
    transform: scale(1.1);
}

.testimonial-info {
    margin-top: 50px;
    /* width: 200px; */
    white-space: wrap;
}

.testimonial-info p {
    color: white;
    text-align: justify;
    font-size: 13px;
    font-family: "Poetsen One", sans-serif;
}

/* button style */
.themeButton {
    background-color: #2C1250;
    padding: 10px 20px;
    font-size: 0.8rem;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #4F228D;
    border-radius: 6px;
    transition: all 0.5s ease-out;
}

.themeButton:hover {
    background-color: transparent;
    color: #fff;
}

/* load more */
.load-more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    position: absolute;
    height: 60px;
}

.active {
    color: red;
}

/* grid system for email signature css */
a.signatureImage {
    position: relative;
    transition: 0.5s;
}

a.signatureImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: 0.4s;
}

a.signatureImage img:hover {
    transform: scale(0.9) !important;
}

a.signatureImage::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 19;
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Hide the element */
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

a.signatureImage:hover::after {
    opacity: 1; /* Show the overlay */
    visibility: visible;
    
}

.findMeHere {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Hide the element */
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

a.signatureImage:hover .findMeHere {
    opacity: 1; /* Show the content */
    visibility: visible;
}

.findMeHere a {
    display: flex;
    align-items: center;
    max-width: 200px;
    width: 100%;
    align-items: flex-start;
    gap: 2rem;
}

.findMeHere a img {
    width: 40px;
    height: 40px;
    background-color: #4F228D;
    border-radius: 100%;
    padding: 5px;
}


.horizontal {
    grid-column: auto / span 2;
}

.vertical {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}

.big {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}

/* REact icon Rotate 360 degree */
.rotate-360 .icon img {
    animation: rotate360 30s linear infinite;
}

.up-down .icon img {
    animation: upDown 5s alternate infinite;
}

/* Rotate animation */
@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Up Down animation */
@keyframes upDown {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* Cevron arrow animation */
.cevron-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.chevron {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    transform: scale(0.3);
    -webkit-animation: move-chevron 3s ease-out infinite;
    animation: move-chevron 3s ease-out infinite;
    cursor: pointer;
}

.chevron:first-child {
    -webkit-animation: move-chevron 3s ease-out 1s infinite;
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    -webkit-animation: move-chevron 3s ease-out 2s infinite;
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #2c3e50;
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}


.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.project-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.image-wrapper {
  width: 100%;
  height: 180px; /* Image area height */
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s ease;
}

.project-card:hover .project-image {
  transform: scale(1.1);
}



  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  
  .project-card:hover .project-image {
    transform: scale(1.1);
  }
  
  .project-title {
    background-color: transparent;
    color: white;
    font-weight: 900;
    font-size: 16.5px;
    margin-top: 22px;
    text-align: center;
  }


@-webkit-keyframes move-chevron {
    25% {
        opacity: 1;
    }

    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
    }

    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
    }

    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
    }
}

@keyframes move-chevron {
    25% {
        opacity: 1;
    }

    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
    }

    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
    }

    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
    }
}